/* Make footer sticky */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Make headings thinner and coloured */

.header {
    color: #437E79;
    font-weight: 300;
}

/* Make tabs always take full width */

.tabs .tab {
    -webkit-box-flex: 1 !important;
    -webkit-flex-grow: 1 !important;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}

.tabs {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

/* Make the title small enough on mobile */

.brand-logo {
  font-size: 2.4rem !important;
}

@media only screen and (max-width: 600px) {
  .brand-logo {
    font-size: 2.0rem !important;
  }
}
@media only screen and (max-width: 420px) {
  .brand-logo {
    font-size: 1.6rem !important;
  }
}

/* Make tabs small enough on mobile */

@media only screen and (max-width: 420px) {
  .tabs .tab a {
    font-size:  11px !important;
  }
}

/* Adjust space between title and tabs */

@media only screen and (min-width: 601px) {
  nav a.button-collapse {
    height: 56px !important;
  }
}

/* Make experience heading scale with screen size */
@media only screen and (max-width: 600px) {
  .header {
    font-size: 2.0rem !important;
  }
}
@media only screen and (max-width: 420px) {
  .header {
    font-size: 1.6rem !important;
  }
}

/* increase spacing at top of page*/
main {
  padding-top: 1.2rem;
}

/* valign home image */
@media only screen and (min-width: 601px) {
  #home-row {
    display: flex;
  }
  #home-row div{
    margin: auto;
  }
}

/* main background color */
body {
  background-color: #fff8f5;
}

/* table striped color */
table.striped>tbody>tr:nth-child(odd) {
    background-color: #fff7f5;
}

/* Border colour for testimonials */
blockquote {
  border-left: 5px solid #619c9b;
}

/* Change SUBMIT button colour */
.btn {
  background-color: #619c9b;
}

/* .btn:focus, .btn-large:focus,
.btn-floating:focus {
  background-color: #D56267;
} */

.btn:hover, .btn-large:hover {
  background-color: #51807e;
}

/* Change line and text-heading colour for contact form */
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #619c9b;
  box-shadow: 0 1px 0 0 #619c9b;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #619c9b;
}
