<footer class="page-footer teal lighten-3">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="/experience.html">Experience and Testimonials</a></li>
          <li><a class="grey-text text-lighten-3" href="/lessons.html">Lessons</a></li>
          <li><a class="grey-text text-lighten-3" href="/contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright teal lighten-2">
    <div class="container">
      © 2014-2016 Copyright Sarah Radford
    </div>
  </div>
</footer>
