{% assign current = page.url | downcase | split: '/' %}

<header>
  <nav class="nav-extended teal lighten-2">
    <div class="container">

      <div class="nav-wrapper">

        <a class="brand-logo center" id="title" href="/" title="Sarah Radford Music Tutoring">
          Sarah Radford Music Tutoring
        </a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"></a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>&nbsp;</li>
        </ul>

        <ul class="tabs tabs-transparent">
          <li class="tab"><a {% if current[1] == 'index.html' %}class="active"{% endif %} href="/index.html" target="_self">Home</a></li>
          <li class="tab"><a {% if current[1] == 'experience.html' %}class="active"{% endif %} href="/experience.html" target="_self">Experience</a></li>
          <li class="tab"><a {% if current[1] == 'lessons.html' %}class="active"{% endif %}href="/lessons.html" target="_self">Lessons</a></li>
          <li class="tab"><a {% if current[1] == 'contact.html' %}class="active"{% endif %}href="/contact.html" target="_self">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
