<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>Sarah Radford Music Tutoring</title>
    <link rel="stylesheet" type="text/css" href="/style.css">

    <!-- google fonts -->
    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Vast+Shadow' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css' />
  </head>
  <body>

    {% include header.html %}

    <div class="main">{{ content }}</div>

    {% include footer.html %}

  </body>
</html>
